@import "../omarchy/current/theme/waybar.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 13px;
    font-weight: 600;
}

window#waybar {
    background-color: @background;
    color: @foreground;
}

#clock, #idle_inhibitor, #custom-update, #custom-voxtype, 
#custom-screenrecording-indicator, #workspaces, #tray, 
#bluetooth, #network, #pulseaudio, 
#cpu, #battery {
    padding: 0 5px;
}


#keyboard-state {
    color: @foreground;
    font-size: 0px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#keyboard-state .locked {
  color: aqua;
  font-size: 16px;
  opacity: 1;
}

/* --- Specific Formatting --- */
#clock {
    color: @foreground;
}

/* Red Recording Indicator */
#custom-voxtype.recording,
#custom-screenrecording-indicator.active {
    color: #f38ba8;
}

tooltip {
    background-color: @background;
    color: @foreground;
    border: 1px solid alpha(@foreground, 0.2);
}

tooltip label {
    font-family: 'JetBrainsMono Nerd Font';
    padding: 5px;
}

/* Tooltip specific styling for the stats list */
tooltip label {
    font-family: 'JetBrainsMono Nerd Font';
    padding: 8px;
}

/* This makes the module highlight the moment your mouse touches it */
#clock, 
#battery, 
#pulseaudio, 
#network, 
#bluetooth, 
#cpu, 
#tray
{
    transition: background-color 0.05s ease-in-out;
    margin: 8;
}

#clock:hover, 
#battery:hover, 
#pulseaudio:hover, 
#network:hover, 
#bluetooth:hover, 
#cpu:hover{
    background-color: alpha(@foreground, 0.15);
    border-radius: 100;
}



#workspaces button {
    all: initial; 
    padding: 0 10px;
    margin: 0 4px;
    color: alpha(@foreground, 0.3);
    font-size: 14px;
    
    /* We use box-shadow to create the line because it transitions 
       more "fluidly" than border-bottom in GTK */
    box-shadow: inset 0 -0px 0 0 transparent;
    
    /* The Bezier curve is key: it adds the "elastic" sliding feel */
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#workspaces button.active {
    color: @foreground;
    /* Inset shadow creates the line. 
       The '3px' is the thickness. */
    box-shadow: inset 0 -3px 0 0 @foreground;
    padding: 0 14px; /* Slight expansion adds to the shifting feel */
}

/* This creates the "delay" effect when moving away from a button */
#workspaces button:not(.active) {
    transition: all 0.2s ease-out;
}

#workspaces button:hover {
    color: alpha(@foreground, 0.6);
    box-shadow: inset 0 -1px 0 0 alpha(@foreground, 0.5);
}
