@import "../../../../../../../.config/omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
}

.preview-box {
}

.box {
}

.search-container {
  padding: 10px;
  border-bottom: 1px solid alpha(@border, 0.3); /* Separates input from list */
  margin-bottom: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}


.preview {
  /* Vertical separation line between list and preview */
  border-left: 1px solid alpha(@border, 0.3);
  margin-left: 10px;
  padding-left: 10px;
}

/* --- The Footer (Keybinds) --- */

.keybinds {
  border-top: 1px solid alpha(@border, 0.3);
  padding-top: 12px;
  margin-top: 10px;
}

.global-keybinds label,
.item-keybinds label {
  font-size: 14px;
  color: alpha(@text, 0.7);
}

/* Keyboard "Keys" styled as sharp boxes */
.keybinds box > label {
  border: 1px solid @border;
  color: @text;
  padding: 1px 8px;
  margin-right: 6px;
  font-weight: bold;
}

/* --- Utilities --- */

.error {
  color: #ff5555;
  padding-top: 10px;
}
